<!-- start page title -->
<app-pagetitle title="Form wizard" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Icon Wizard</h4>
            </div>
            <div class="card-body">
                <ng-stepper #cdkStepper [linear]="true" class="cdksteppercontent">
                    <cdk-step [optional]="false">
                        <ng-template cdkStepLabel>
                            <i class="bx bx-list-ul"></i>
                        </ng-template>
                        <div *ngIf="cdkStepper.selectedIndex === 0">
                            <div class="text-center mb-4">
                                <h5>Seller Details</h5>
                                <p class="card-title-desc">Fill all information below</p>
                            </div>
                            <form>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-firstname-input" class="form-label">First name</label>
                                            <input type="text" class="form-control" id="basicpill-firstname-input">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-lastname-input" class="form-label">Last name</label>
                                            <input type="text" class="form-control" id="basicpill-lastname-input">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-phoneno-input" class="form-label">Phone</label>
                                            <input type="text" class="form-control" id="basicpill-phoneno-input">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-email-input" class="form-label">Email</label>
                                            <input type="email" class="form-control" id="basicpill-email-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label for="basicpill-address-input1" class="form-label">Address</label>
                                            <textarea id="basicpill-address-input1" class="form-control" rows="2"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <ul class="list-inline wizard mb-0">
                                <li class="next list-inline-item float-end"><button class="btn btn-primary" cdkStepperNext>Next</button>
                                </li>
                            </ul>
                        </div>
                    </cdk-step>

                    <cdk-step [optional]="true">
                        <ng-template cdkStepLabel>
                            <i class="bx bx-book-bookmark"></i>
                        </ng-template>
                        <div *ngIf="cdkStepper.selectedIndex === 1">
                            <div class="text-center mb-4">
                                <h5>Company Document</h5>
                                <p class="card-title-desc">Fill all information below</p>
                            </div>
                            <form>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-pancard-input" class="form-label">PAN
                                                Card</label>
                                            <input type="text" class="form-control" id="basicpill-pancard-input">
                                        </div>
                                    </div><!-- end col -->

                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-vatno-input" class="form-label">VAT/TIN No.</label>
                                            <input type="text" class="form-control" id="basicpill-vatno-input">
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-cstno-input" class="form-label">CST
                                                No.</label>
                                            <input type="text" class="form-control" id="basicpill-cstno-input">
                                        </div>
                                    </div><!-- end col -->

                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-servicetax-input" class="form-label">Service Tax
                                                No.</label>
                                            <input type="text" class="form-control" id="basicpill-servicetax-input">
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-companyuin-input" class="form-label">Company
                                                UIN</label>
                                            <input type="text" class="form-control" id="basicpill-companyuin-input">
                                        </div>
                                    </div><!-- end col -->

                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-declaration-input" class="form-label">Declaration</label>
                                            <input type="text" class="form-control" id="basicpill-declaration-input">
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row-->
                            </form><!-- end form -->

                            <!-- wizard-tab -->
                            <ul class="list-inline wizard mb-0">
                                <li class="previous list-inline-item"><button class="btn btn-primary" cdkStepperPrevious>Previous</button>
                                </li>
                                <li class="next list-inline-item float-end"><button class="btn btn-primary" cdkStepperNext>Next</button>
                                </li>
                            </ul>
                        </div>
                    </cdk-step>

                    <cdk-step [optional]="false">
                        <ng-template cdkStepLabel>
                            <i class="bx bxs-bank"></i>
                        </ng-template>
                        <div *ngIf="cdkStepper.selectedIndex === 2">
                            <div class="text-center mb-4">
                                <h5>Bank Details</h5>
                                <p class="card-title-desc">Fill all information below</p>
                            </div>
                            <form>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-namecard-input" class="form-label">Name on
                                                Card</label>
                                            <input type="text" class="form-control" id="basicpill-namecard-input">
                                        </div>
                                    </div><!-- end col -->
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Credit Card Type</label>
                                            <select class="form-select">
                                                <option selected>Select Card Type</option>
                                                <option value="AE">American Express</option>
                                                <option value="VI">Visa</option>
                                                <option value="MC">MasterCard</option>
                                                <option value="DI">Discover</option>
                                            </select>
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-cardno-input" class="form-label">Credit Card
                                                Number</label>
                                            <input type="text" class="form-control" id="basicpill-cardno-input">
                                        </div>
                                    </div><!-- end col -->

                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-card-verification-input" class="form-label">Card
                                                Verification Number</label>
                                            <input type="text" class="form-control" id="basicpill-card-verification-input">
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-expiration-input" class="form-label">Expiration
                                                Date</label>
                                            <input type="text" class="form-control" id="basicpill-expiration-input">
                                        </div>
                                    </div>
                                </div><!-- end row -->
                            </form><!-- end form -->
                            <!-- wizard-tab -->
                            <div class="d-flex align-items-start gap-3 mt-4">
                                <button type="button" class="btn btn-primary w-sm" id="prevBtn" cdkStepperPrevious>Previous</button>
                            </div>
                        </div>
                    </cdk-step>

                </ng-stepper>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Wizard with Progressbar and Title</h4>
            </div>
            <div class="card-body">
                <div class="progress mb-4">
                    <ngb-progressbar [value]="100" [striped]="true" type="success" [style.width]="(cdkSteppers.selectedIndex + 1) / cdkSteppers.steps.length * 100 + '%'"></ngb-progressbar>
                </div>
                <ng-stepper #cdkSteppers [linear]="true" class="cdksteppercontent">
                    <cdk-step [optional]="false">
                        <ng-template cdkStepLabel>
                            <i class="bx bx-list-ul"></i>
                            <div>SELLER DETAILS</div>
                        </ng-template>
                        <div *ngIf="cdkSteppers.selectedIndex === 0">
                            <div class="text-center mb-4">
                                <h5>Seller Details</h5>
                                <p class="card-title-desc">Fill all information below</p>
                            </div>
                            <form>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-firstname-input" class="form-label">First name</label>
                                            <input type="text" class="form-control" id="basicpill-firstname-input">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-lastname-input" class="form-label">Last name</label>
                                            <input type="text" class="form-control" id="basicpill-lastname-input">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-phoneno-input" class="form-label">Phone</label>
                                            <input type="text" class="form-control" id="basicpill-phoneno-input">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-email-input" class="form-label">Email</label>
                                            <input type="email" class="form-control" id="basicpill-email-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label for="basicpill-address-input1" class="form-label">Address</label>
                                            <textarea id="basicpill-address-input1" class="form-control" rows="2"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <ul class="list-inline wizard mb-0">
                                <li class="next list-inline-item float-end"><button class="btn btn-primary" cdkStepperNext>Next</button>
                                </li>
                            </ul>
                        </div>
                    </cdk-step>

                    <cdk-step [optional]="true">
                        <ng-template cdkStepLabel>
                            <i class="bx bx-book-bookmark"></i>
                            <div>BANK DETAILS</div>
                        </ng-template>
                        <div *ngIf="cdkSteppers.selectedIndex === 1">
                            <div class="text-center mb-4">
                                <h5>Company Document</h5>
                                <p class="card-title-desc">Fill all information below</p>
                            </div>
                            <form>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-pancard-input" class="form-label">PAN
                                                Card</label>
                                            <input type="text" class="form-control" id="basicpill-pancard-input">
                                        </div>
                                    </div><!-- end col -->

                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-vatno-input" class="form-label">VAT/TIN No.</label>
                                            <input type="text" class="form-control" id="basicpill-vatno-input">
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-cstno-input" class="form-label">CST
                                                No.</label>
                                            <input type="text" class="form-control" id="basicpill-cstno-input">
                                        </div>
                                    </div><!-- end col -->

                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-servicetax-input" class="form-label">Service Tax
                                                No.</label>
                                            <input type="text" class="form-control" id="basicpill-servicetax-input">
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-companyuin-input" class="form-label">Company
                                                UIN</label>
                                            <input type="text" class="form-control" id="basicpill-companyuin-input">
                                        </div>
                                    </div><!-- end col -->

                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-declaration-input" class="form-label">Declaration</label>
                                            <input type="text" class="form-control" id="basicpill-declaration-input">
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row-->
                            </form><!-- end form -->
                            <!-- wizard-tab -->
                            <ul class="list-inline wizard mb-0">
                                <li class="previous list-inline-item"><button class="btn btn-primary" cdkStepperPrevious>Previous</button>
                                </li>
                                <li class="next list-inline-item float-end"><button class="btn btn-primary" cdkStepperNext>Next</button>
                                </li>
                            </ul>
                        </div>
                    </cdk-step>

                    <cdk-step [optional]="false">
                        <ng-template cdkStepLabel>
                            <i class="bx bxs-bank"></i>
                            <div>CONFIRM DETAIL</div>
                        </ng-template>
                        <div *ngIf="cdkSteppers.selectedIndex === 2">
                            <div class="text-center mb-4">
                                <h5>Bank Details</h5>
                                <p class="card-title-desc">Fill all information below</p>
                            </div>
                            <form>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-namecard-input" class="form-label">Name on
                                                Card</label>
                                            <input type="text" class="form-control" id="basicpill-namecard-input">
                                        </div>
                                    </div><!-- end col -->
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Credit Card Type</label>
                                            <select class="form-select">
                                                <option selected>Select Card Type</option>
                                                <option value="AE">American Express</option>
                                                <option value="VI">Visa</option>
                                                <option value="MC">MasterCard</option>
                                                <option value="DI">Discover</option>
                                            </select>
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-cardno-input" class="form-label">Credit Card
                                                Number</label>
                                            <input type="text" class="form-control" id="basicpill-cardno-input">
                                        </div>
                                    </div><!-- end col -->

                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-card-verification-input" class="form-label">Card
                                                Verification Number</label>
                                            <input type="text" class="form-control" id="basicpill-card-verification-input">
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-expiration-input" class="form-label">Expiration
                                                Date</label>
                                            <input type="text" class="form-control" id="basicpill-expiration-input">
                                        </div>
                                    </div>
                                </div><!-- end row -->
                            </form><!-- end form -->
                            <!-- wizard-tab -->
                            <div class="d-flex align-items-start gap-3 mt-4">
                                <button type="button" class="btn btn-primary w-sm" id="prevBtn" cdkStepperPrevious>Previous</button>
                            </div>
                        </div>
                    </cdk-step>

                </ng-stepper>

            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->