<form [formGroup]="orderInfoFg">
  Order code:<input formControlName="code"/><br/>
  <button (click)="addOrderInfoDetail()">add one order detail</button>
  <hr/>
  <div formArrayName="orderInfoDetailList">
    <div *ngFor="let fg of toFaGfn(this.orderInfoFg.get('orderInfoDetailList')).controls;
    let index = index">
      <div [formGroupName]="index">
        Order detail code: {{fg.value.id}} <input formControlName="code"/>
        <button (click)="delete(fg,index)">Del</button>
      </div>
    </div>
  </div>
  <button (click)="save()">save</button>
</form>

<button (click)="search()">search</button>

<table class="table mb-0">
  <thead class="table-light">
  <tr>
    <th>#</th>
    <th>order id</th>
    <th>order code</th>
    <th>order detail id</th>
    <th>order detail code</th>
    <th>edit</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let orderInfoDetail of orderInfoDetailList$ | async; let i = index">

    <td>{{orderInfoDetail.orderInfo?.id}}</td>
    <td>{{orderInfoDetail.orderInfo?.code}}</td>
    <td>{{orderInfoDetail.id}}</td>
    <td>{{orderInfoDetail.code}}</td>
    <td>
      <button type="button" (click)="onUpdateClick(orderInfoDetail)" class="btn btn-info ">Edit</button>
    </td>
  </tr>
  </tbody>
</table>
