<!-- start page title -->
<!-- <app-pagetitle title="All Role List" [breadcrumbItems]="breadCrumbItems"></app-pagetitle> -->
<!-- end page title -->
<div _ngcontent-ng-c352282610="" class="row">
  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Add New Role</h4>
        <p class="card-title-desc">
          To add or update role fill the form and submit.
        </p>
      </div>
      <div class="card-body">
        <form [formGroup]="roleFg">
          <div class="mb-4">
            <label class="form-label" for="name">Name</label>
            <input formControlName="name" class="form-control" type="text" id="name" placeholder="Enter your name" />
            {{roleFg.controls['name'].errors | json}}
            <div *ngIf="roleFg.controls['name'].touched
                      && roleFg.controls['name'].errors?.['maxLength']" style="color: red">
              {{roleFg.controls['name'].errors?.maxLength.message}}
            </div>
            <div *ngIf="roleFg.controls['name'].touched
                      && roleFg.controls['name'].errors?.['minLength']" style="color: red">
              {{roleFg.controls['name'].errors?.minLength}}
            </div>
            <div *ngIf="roleFg.controls['name'].touched
                  && roleFg.controls['name'].errors?.['required']" style="color: red">
              This field is required
            </div>
          </div>
          <div formArrayName="userInfoRoleListFa">
            <div>
              <h5 class="font-size-14 mb-3">                 
                Select Users
              </h5>              
            </div>
            <!--<div *ngFor="let item of vehicleListFa.controls; let index = index">-->
            <div *ngFor="let fg of toFaGfn(this.roleFg.get('userInfoRoleList'))
            .controls; let index = index">
              <div [formGroupName]="index" class="form-check mb-3">
                <input formControlName="name" class="form-check-input" type="checkbox" id="formCheck1">
                <label class="form-check-label" for="formCheck1">
                  User 1
                </label>
                user_id: {{fg.value.id}}
                role_id: {{fg.value.id}}
              </div>
            </div>
          </div>
          <!-- {{roleFg.value['addressList'] | json}} -->
          <button type="button" (click)="save()" class="btn btn-outline-primary waves-effect waves-light mt-3 mx-1">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
  <div _ngcontent-ng-c352282610="" class="col-xl-8">
    <div _ngcontent-ng-c352282610="" class="card">
      <div _ngcontent-ng-c352282610="" class="card-header">
        <h4 _ngcontent-ng-c352282610="" class="card-title">Role List</h4>
        <p _ngcontent-ng-c352282610="" class="card-title-desc">
          Here you will get all the role list
        </p>
      </div>
      <div _ngcontent-ng-c352282610="" class="card-body">
        <div _ngcontent-ng-c352282610="" class="table-responsive">
          <table _ngcontent-ng-c352282610="" class="table mb-0">
            <thead _ngcontent-ng-c352282610="" class="table-light">
              <tr _ngcontent-ng-c352282610="">
                <th _ngcontent-ng-c352282610="">#</th>
                <th _ngcontent-ng-c352282610="">Name</th>
                <th _ngcontent-ng-c352282610="">Action</th>
              </tr>
            </thead>
            <tbody _ngcontent-ng-c352282610="">
              <tr _ngcontent-ng-c352282610="" *ngFor="let role of roleList$ | async; let i = index">
                <th _ngcontent-ng-c352282610="" scope="row">{{role.id}}</th>
                <td _ngcontent-ng-c352282610="">{{role.name}}</td>
                <td _ngcontent-ng-c352282610="">
                  <button type="button" (click)="onUpdateClick(role)"
                    class="btn btn-info waves-effect waves-light mx-1">
                    Edit
                  </button>
                  <button type="button" (click)="delete(role, 122)"
                    class="btn btn-danger waves-effect waves-light mx-1">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>