<!-- start page title -->
<app-pagetitle title="AmCharts" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Line With Point</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div id="world-map-line-markers" style="height: 420px"></div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Vector Map With Point</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div id="world-map-markers" style="height: 350px"></div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">World Vector Map with Image Point</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div id="world-map-markers-image" style="height: 350px"></div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">USA Vector Map</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div id="usa-vectormap" style="height: 350px"></div>
            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Pacific Map</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div id="canada-vectormap" style="height: 350px"></div>
            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>
</div>
<!-- end row -->