<div class="row">
  <SearchComp></SearchComp>
  <FilterComp 
  [allCount]="productListCount" 
  [inStockCount]="inStockCount" 
  [outOfStockCount]="outOfStockCount"
  (filterEvent) = "handleEvent($event)">
  </FilterComp>
  {{filteredProductList.length}}
  <hr/>
  <div class="col-md-3" *ngFor="let product of filteredProductList">
    <img [src]="product.image" style="width: 300px; height: 350px;">
    <p>Product Name: {{product.name}}</p>
    <p>Product Price: {{product.price}}</p>
    <p>Product Color: {{product.color}}</p>
    <!-- <p>Discounted Price: {{getDiscountedPrice().toFixed(2)}}</p> -->
    <p>Stock: {{product.stock > 0 ? product.stock + " Items Left":"Out of Stock"}}</p>
    <p style="font-size: 30px;">
      <!-- <button class="btn btn-warning" (click)="decrementCart()">-</button>
      {{addToCart}} 
      <button class="btn btn-success" (click)="incrementCart()">+</button> -->
    </p>
    <button class="btn btn-primary" [disabled]="product.stock == 0">Buy Now</button>
  </div>
</div>

<!-- <div class="row">
  <input type="text" [value]="name" (input)="onInputChange($event)" class="form-control"><br />
  Name: {{name}}

  <p *ngFor="let llist of listOfString">
    {{llist}}
  </p>

</div> -->